{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": { "chrome": 73 },
            "debug": true,
            "modules": false,
            "useBuiltIns": false,
            "shippedProposals": true
          },
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        ["styled-components", { "ssr": true, "pure": true, "displayName": true }]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": { "chrome": 73 },
            "debug": true,
            "modules": false,
            "useBuiltIns": false,
            "shippedProposals": true
          },
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        ["styled-components", { "ssr": true, "pure": true, "displayName": false }]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ],
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        ["styled-components", { "ssr": true, "pure": true, "displayName": true }]
      ]
    }
  }
}
