{
  "env": {
    "development": {
      "presets": [
        ["next/babel",  {
          "preset-env": {
            "targets": {
              "chrome": "77"
            }
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["styled-components", {
          "ssr": true,
          "pure": true,
          "displayName": true,
          "preprocess": false
        }]
      ]
    },
    "production": {
      "presets": [
        ["next/babel",  {
          "preset-env": {
            "targets": {
              "chrome": "77"
            }
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["styled-components", {
          "ssr": true,
          "pure": true,
          "displayName": false,
          "preprocess": false
        }]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["styled-components", {
          "ssr": true,
          "pure": true,
          "displayName": true,
          "preprocess": false
        }]
      ]
    }
  }
}
